head{
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
header{
    width:100% ;
    height: 70px;
    background-color: aquamarine;
}
h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left:2%;
    margin-top:10px;
    color:darkgoldenrod
}
span{
    color: bisque;
}
ul{
    width: auto;
    float: right;
    margin-top:8px;
}
li{
    display: inline-block;
    padding: 15px 30px;
}
a{
    text-align: center;
    color: crimson;
    text-decoration: none;
    font-family: 'Edu VIC wa NT Beginner',cursive;
    font-size:1.2vw;
}
a:hover{
    color: blueviolet;
    transition: 0.5s;
}
img{
    width: 100%;
    margin-top: -16px;
}
.uil-facebook{
    position:relative;
    bottom:0%;
     left:400px;
    font-size: larger;
    color: blue;
}
.uil-instagram-alt{
    position:relative;
    bottom:0%;
     left:400px;
    font-size: larger;
    color: salmon;
}
.uil-snapchat-ghost{
    position:relative;
    bottom:0%;
     left:400px;
    font-size: larger;
    color:yellow;

}
h2{
 text-align: center;
 text-size-adjust:100px;
 font-family: 'Edu VIC WA NT Beginner', cursive;
 color: darkgoldenrod;
}
#words{
    text-align: center;
    text-size-adjust:100px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color:darkslategray;
    font-size: larger;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}
.menue{
font-family: sans-serif;
font-size: 14px;

}
.menue-group-heading{
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;

}
.menue-group{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

@media screen and (min-width: 992px) {
    .menue font: size 16px;
}

.menue-group{
    grid-template-columns: repeat(2, 1fr);
}

.menue-item{
  display: flex;  
}
.menue-item-image{
    padding-top: 40px;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}
.h3-menue-item-heading{
    padding-top: 40px;
    color: blueviolet;
    margin:0 ;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menue-item-text{
    flex-grow: 0;
}
.menue-item-name{
    color:chocolate;
    margin-right: 1.5em;
}
.menue-item-price{
    color:chocolate;
}
.menu-item-description{
    font-family:'Edu VIC WA NT Beginner', cursive; 
    color: darkolivegreen;
    size:10mm;
}


