body {
    background-color: lightblue;
    font-family: 'Edu VIC WA NT Beginner', cursive;
  }
 head{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-decoration-line:underline
 }
 #name{
    margin-top:50px;
    margin-bottom: 50px;
    text-align: center;
    font-size:10px;
 }

 #pic2{
      margin-left:270px;
 }

 #welcome{
 text-align: center;
 text-size-adjust:100px;

 }
 #words{
    color:#b4a821;
    font-size:20px;
    padding:10px;
    margin-left:30px;
 }

 #menu{
margin-left:500px;
 }

 #nav{
    margin: 0 ;
    padding: 0;
    background-color: rgb(169, 169, 169);
    color: blue;
    text-align: center;
    padding:5px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    
    
 }
